{#    displayOrder: [
      "content",
      "due",
      "priority",
      "labels",
      "assignee",
      "checked"
    ],
    displayPriorityAsIcon: true,
    displayDueAsCountdown: false
#}

<div class="container-main">
    This template is displaying this text.
    <ul>
        {% for item in self.tasks.items %}
            {% for col in self.config.displayOrder %}
                <li>{{item[col]}}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>



