.task-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.task-table thead th {
  text-align: center;
}

.col-content {
  text-align: left;
}

.task-table td {
  padding: 0 5px 0 5px;
}

.header-icon-countdown::before {
  font: var(--fa-font-solid);
  content: "\f254";
}

.header-icon-content::before {
  font: var(--fa-font-solid);
  content: "\f04b";
}

.header-icon-duedate::before {
  font: var(--fa-font-solid);
  content: "\f274";
}

.header-icon-priority::before {
  font: var(--fa-font-solid);
  content: "\f06a";
}

.header-icon-assignee::before {
  font: var(--fa-font-solid);
  content: "\f007";
}

.header-icon-avatar::before {
  font: var(--fa-font-solid);
  content: "\f007";
}

.header-icon-labels::before {
  font: var(--fa-font-solid);
  content: "\f02b";
}

.header-icon-project::before {
  font: var(--fa-font-solid);
  content: "\f03a";
}

.task-label-bubble {
  background-color: #333333;
  border-radius: 15px;
  padding: 2px 6px 2px 6px;
}
.task-project-bubble {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 6px 0 6px;
}

/*font awesome requires this to make icons render reliably */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
